# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# CLI configuration files
.terraform/

# Sensitive variable files
terraform.tfvars

# Terraform lock file
.terraform.lock.hcl

# OS files
.DS_Store

# VSCode settings folder
.vscode/